body{
    background-color: blue;
    background-image: url("/static/red_snowflakes.jpg");
    background-repeat: repeat;
    background-attachment: scroll;
    background-position: 0 0;
}

h1{
    font-size: larger;
    background-color: azure;
}